<h1><%= t(:gift_cards) %></h1>
<h3><%= t('spree_gift_card.instructions')%></h3>
<div>
	<div style="float: left;">
		<%= render "shared/error_messages", :target => @gift_card %>
		<%= form_for @gift_card do |f| %>
		  <p>
		    <%= f.label :variant_id, t("spree_gift_card.amount") %> <span class="required">*</span><br />
		    <% @gift_card_variants.each do |card| %>
		      <%= f.radio_button :variant_id, card.id %><%= number_to_currency(card.price) %>
		    <% end %>
		  </p>
		  <%= f.field_container :sender_name do %>
		    <%= f.label :sender_name, t("spree_gift_card.sender_name") %> <span class="required">*</span><br />
		    <%= f.text_field :sender_name %>
		  <% end %>
		  <%= f.field_container :email do %>
		    <%= f.label :email, t("spree_gift_card.recipient_email") %> <span class="required">*</span><br />
		    <%= f.text_field :email %>
		  <% end %>
		  <%= f.field_container :name do %>
		    <%= f.label :name, t("spree_gift_card.recipient_name") %> <span class="required">*</span><br />
		    <%= f.text_field :name %>
		  <% end %>
		  <p>
		  	<%= check_box_tag "gift_card[cc_me]", true, @gift_card.cc_me %>
			<%= f.label :cc_me, t("spree_gift_card.cc_me") %>
		  </p>
		  <%= f.field_container :note do %>
		    <%= f.label :note, t("spree_gift_card.recipient_note") %><br />
		    <%= f.text_area :note, :rows => 10 %>
		  <% end %> 
		  <button type='submit' class='large primary'>
		    <%= image_tag('/images/add-to-cart.png') + ' ' + t('add_to_cart') %>
		  </button>
		<% end %>
	</div>
	<div style="float: left; margin-left: 20px; display: none">
		<h4>Email Preview</h4>
		<div id="email_preview" style="padding: 16px; border: 2px solid; background-color: #eee; min-width: 400px; min-height: 300px;">
			
		</div>
	</div>
	<div style="clear: both;"></div>
</div>
